@import "../../global.scss";

.warapa {
  text-align: center;
  .centere {
    flex: 0.55;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    @include mobile_potrait {
      width: 100%;
    }
    @include mobile_landscape {
      flex: 0.5;
    }

    .videoContent {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      margin-top: 1.2vw;
      @include mobile_potrait {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
      }
      @include mobile_landscape {
      }
      iframe {
        position: absolute;
        height: calc(100% - 1.8vw);
        z-index: 2;
        position: absolute;
        width: calc(100% - 0.5vw);
        top: 1.55vw;
        border-radius: 10px 2px 1.5vw 10px;
        background-color: #19243b;
        @include mobile_potrait {
          top: 3vw;
          border-radius: 2px 2px 10px 5px;
          height: calc(100% - 4vw);
          width: calc(100% - 1vw);
        }
        @include mobile_landscape {
        }
      }
      .videoEmbed {
        position: absolute;
        width: calc(100% - 5px);
        top: 1.5vw;
        border-radius: 10px 10px 30px 10px;
        background-color: #19243b;
        @include mobile_potrait {
          top: 3vw;
          border-radius: 2px 5px 10px 5px;
        }
        @include mobile_landscape {
          border-radius: 5px 5px 10px 5px;
        }
      }
      .bar {
        width: 100%;
        z-index: 1;
      }
      .topMark {
        position: absolute;
        z-index: 3;
        height: 2.5vw;
        top: 0;
        left: 0;
        @include mobile_potrait {
          height: 1.5rem;
        }
        @include mobile_landscape {
        }
      }
      .playBtn {
        position: absolute;
        background-color: #ffffff55;
        width: 5rem;
        height: 5rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        border-radius: 50%;
        color: #ffffffee;
        transition: all 0.3s ease;
        opacity: 0.5;
        cursor: pointer;
        z-index: 2;

        &:hover {
          opacity: 1;
        }
        .fas {
          margin-left: 5px;
        }
        @include mobile_potrait {
          transform: scale(0.5);
        }
        @include mobile_landscape {
          transform: scale(0.5);
        }
      }
    }
  }
}

.has-txt-white {
  color: #fff;
}

.has-txt-orange {
  color: #ff9621;
}

.button-nobtn {
  background: rgba(#ff9621, 0.8) !important;
  cursor: pointer;

  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 700;

  &:hover {
    background: rgba(#ff9621, 1) !important;
  }
}
