@import "../../global.scss";
.topbar{
    width: 100%;
    height: 7vw;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    z-index: 999;
    // backdrop-filter: blur(5px);
    @include mobile_potrait{
        justify-content: space-around;
        height: 6rem;
    }
    @include mobile_landscape{
        height: 3rem;
    }
    .topContent{
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .logo{
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vw;
        @include mobile_potrait{
            margin-left: 0rem;
            height: auto;
        }
        @include mobile_landscape{
            margin-left: 0.5rem;
        }
        a{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            @include mobile_potrait{
                font-size: 2rem;
            }
            @include mobile_landscape{
                font-size: 2rem;
            }
            img{
                height: 5.5vw;
                transition: all 0.3s ease;
                @include mobile_potrait{
                    height: 4rem;
                }
                @include mobile_landscape{
                    height: 3rem;
                }
            }
            &:hover{
                img{
                    filter: drop-shadow(0px 0px 5px #457ef3);
                }
            }
        }
    }
    .btns{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        position: absolute;
        right: 7vw;
        @include mobile_potrait{
           display: none;
        }
        @include mobile_landscape{
        }
        .connectBtn{
            padding: 1.4vw 4vw;
            border: none;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            transition: all 0.3s ease;
            @include mobile_potrait{
                font-size: 0.8rem;
                padding: 0.5rem 0.5rem;
                margin-right: 0rem;
                border-radius: 5px;
            }
            @include mobile_landscape{
                font-size: 0.8rem;
                padding: 0.5rem 0.5rem;
                border-radius: 5px;
            }
            
            p{
                z-index: 1;
                color: #457ef3;
                font-size: 1.3vw;
                font-weight: 700;
                text-transform: uppercase;
                @include mobile_potrait{
                    font-size: 0.8rem;
                }
                @include mobile_landscape{
                    font-size: 0.8rem;
                }
            }
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.3s ease;
            }
            &:hover{
                img{
                    filter: drop-shadow(0px 0px 5px #fff);
                }
            }
        }
    }
}